<h2>Log in!</h2> 

<form class="" action="/login" method="post">
  <h3>Email: </h3><input type="text" name="email" value="">
  <h3>Password: </h3><input type="text" name="password" value="">

  <input type="submit" value=" Login ">
</form>

<br><br>

<a href="/">Back</a>