<h2>Edit Goal: </h2>

<form class="" action="/goals/<%= @goal.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h3>Tile: </h3>
    <textarea rows="1" cols="100" name="title" ><%= @goal.title %></textarea>
  <br><br>
  <h3>Description: </h3>
    <textarea rows="10" cols="100" name="description"><%= @goal.description %></textarea>
  <br><br>
  <label>Completed? </label>
		<input type="hidden" name="completed?" value="false"> 
		<input type="checkbox" name="completed?" value="true"<%= "checked" if @goal.completed? %>>
  <br><br>
  <input type="submit" value="Save Changes">
</form>