<h2>Edit Goal: </h2>

<form class="" action="/goals/<%= @goal.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h3>Tile: </h3>
    <textarea name="title" style="width:auto; height:auto"><%= @goal.title %></textarea>
  <br><br>
  <h3>Description: </h3>
    <textarea name="description" style="width:auto; height:auto"><%= @goal.description %></textarea>
  <br><br>
  <label>Completed? </label>
		<input type="checkbox"  name="completed?">  Yes 
		<input type="checkbox"  name="completed?">  No
  <br><br>
  <input type="submit" value="Edit Goal">
</form>