<h2>Create a new Goal: </h2>

<from class="" action="/goals" method="post">
  <h3>Tile: </h3><input type="text" name="title">
  <h3>description: </h2><input type="text" name="description">

  <input type="submit" value="Create Goal">
</form>