<h2>Create New Goal: </h2>

<form class="" action="/goals" method="post">

  <h3>Tile: </h3><input type="text" name="title">
  <h3>Description: </h3><input type="text" name="description">

  <input type="submit" value="Create Goal">

</form>