<h2>Create New Goal: </h2>

<form class="" action="/goals" method="post">

  <h3>Title: </h3>
    <textarea rows="1" cols="100" name="title"></textarea>
  <h3>Description: </h3>
    <textarea rows="5" cols="100" name="description"></textarea><br><br>
  <label>Completed? </label>
    <input type="hidden" name="completed?" value="false" >
    <input type="checkbox" name="completed?" value="true" >
  <br><br>

    <input type="submit" value="Create Goal">
</form>